spring:
  application:
    name: familyroutine
  jackson:
    deserialization:
      # Impede propriedades desconhecidas nas requisições HTTP
      fail-on-unknown-properties: true
  h2: 
    console:
      encoding: UTF-8
      enabled: true
      path: /h2-ui
  datasource:
    url: jdbc:h2:mem:familyroutine
    driverClassName: org.h2.Driver
    username: admin
    password: admin
    

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always